<h1>Editing author calendar item</h1>

<%= render "form", author_calendar_item: @author_calendar_item %>

<br>

<div>
  <%= link_to "Show", @author_calendar_item %> |
  <%= link_to "Back to calendar list", author_calendar_items_path %>
</div>
