<h1>Create a New Calendar Item</h1>

<p>
  These are events where you'll get to meet your readers (and potential readers): conferences, user groups, meetings, workshops, and so on.
</p>

<p>
You can even add a note just to say you're going to be visiting some event: you don't have to be a speaker.
</p>

<%= render "form", author_calendar_item: @author_calendar_item %>

<br>

<div>
  <%= link_to "Back to author calendar items", creators_author_calendar_items_path %>
</div>
