<p style="color: green"><%= notice %></p>

<p>
  You're participating in the following event.
</p>

<%= render @author_calendar_item, show_back_link: true, show_delete_link: true, show_edit_link: true %>

