<div class="container">
  <div class="row row-cols-3">
    <div class="col">
      <h3>Learning Platform</h3>
    </div>
    <div class="col">
      <%= link_to "Uploads/Imports", royalties_lp_uploads_path, class: "btn btn-primary" %>
    </div>
    <div class="col">
      <p> some useful stats...</p>
    </div>
  </div>
</div>
