<div class="container">
  <%= render "channel", channel_title: "Learning Platform", channel_path: royalties_lp_statements_path, channel_stats: @lp_stats %>
  <%= render "channel", channel_title: "Ingram Pub Svcs",   channel_path: royalties_ips_statements_path, channel_stats: @ips_stats %>
</div>
