<section class="container mt-5">
  <div class="d-flex align-items-center">
  <%= vite_image_tag("images/oho-navbar.png") %>

  <div>
  <h4>Future Home of an</h4>
  <h2>Amazing Dashboard</h2>
  </div>
  </div>
</section>
