<div class="mb-3 ">
  <div class="">
    <small><%= cal_item.start_date %></small>
  </div>
  <div class="ms-4">
    <div class="">
      <%= cal_item.what %>
    </div>
    <div class="text-muted">
      <small><%= cal_item.where %></small>
    </div>
  </div>
</div>

