<div id="<%= dom_id(item, :status) %>">
  <% if item.ready_to_import? %>
    <div style="max-height: 1rem; position: relative; top: -.7rem;" class="p-0">
      <span title="This detail is ready to be imported">
        <i class="bi bi-arrow-up-circle-fill text-success fs-4"></i>

      </span>
    <% else %>
      <span class="text-warning fs-6 ">
        not yet
      </span>
    </div>
  <% end %>
</div>

