<td class="text-end ps-4">
    <%= number_to_currency(content["Domestic Freight"]) %>
</td>

<td class="text-end ps-4">
    <%= number_to_currency(content["Gift Freight"]) %>
</td>

<td class="text-end ps-4">
    <%= number_to_currency(content["International Freight"]) %>
</td>

<td class="text-end ps-4">
    <%= number_to_currency(content["Canadian Freight"]) %>
</td>


