<div id="<%= dom_id(item, :status) %>">
  <% if item.reconciled? %>
    <div style="max-height: 1rem; position: relative; top: -.7rem;" class="p-0">
      <span title="This detail has been imported">
        <i class="bi bi-check-circle-fill text-success fs-4"></i>

        <% for line in item.ips_payment_advice_lines %>
          <%= link_to(focus_line_royalties_ips_payment_path(
            line.ips_payment_advice,
            line,
            anchor: dom_id(line)
          ),
          class: "info-link ps-2"
                     ) do %>
                     <i title="View payment" class="bi bi-eye fs-4"></i>
                   <% end %>
         <% end %>
      </span>
    <% else %>
      <span class="text-warning fs-6 ">
        not yet
      </span>
    </div>
  <% end %>
</div>


