<% sums = statement.estimated_royalties
  total = sums.values.map {|v| v[:total] }.sum
%>
<%= number_to_currency(total.round(-2), precision: 0) %>
<button data-controller="popover" type="button" class="ms-1 round btn btn-info" data-bs-toggle="popover" title="Estimated royalty breakdown" data-bs-html="true" data-bs-content="
  <% sums.each do |key, value| %>
    <div class='d-flex justify-content-between'>
      <div><strong><%= key %></strong></div>
      <div><%= number_to_currency(value[:total].round(-2), precision: 0) %></div>
    </div>
  <% end %>
  "><i class="bi bi-zoom-in"></i></button>
