<div id="maybe-show-import-button">
  <% if statement.imported_at? %>
    <p></p>
  <% elsif statement.ready_to_import? %>
    <%= button_to("Import statement",
                  import_royalties_ips_statement_path(statement),
                  class: "btn btn-primary mt-5",
                method: :put,
                data: { turbo_confirm: "Are you sure you want to import this statement?" })
              %>
  <% else %>
    <div class="alert alert-secondary mt-5 pe-4 rounded-end-pill">
      Please upload detail sheets to get this statement ready to import…
    </div>
  <% end%>

</div>


