<h1 class="mt-5 mb-3">Become an author or editor</h1>
<div data-controller="author-search">
  <%= bootstrap_form_with(url: creators_impersonate_path, method: :get, data: { author_search_target: "form" } ) do |form| %>
    <%= form.search_field :search, value: @search, autofocus: true, class: 'form-control', data: { author_search_target: "input", action: "input->author-search#search"}, placeholder: "Search for name or email" %>
  <% end %>

  <div data-author-search-target="results">
    <%= render partial: "search_results", locals: { creators: @creators } %>
  </div>
</div>
