<style>
[data-bs-theme="dark"] {
  .show-when-dark  { display: inline-block; }
  .show-when-light { display: none; }
}
[data-bs-theme="light"] {
      .show-when-dark  { display: none; }
      .show-when-light { display: inherit; }
    }
</style>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div>
      <%= link_to(root_path, class: "navbar-brand") do
        group = if Current.user
                  Current.user.admin? ? "Admin" : "Creator"
                else
                  ""
                end
        tag.span("Pragmatic ", class: "display-6 mb-0", style: "color: #E2DCC2") +
        tag.span(group, class: "display-6 mb-0", style: "color: #FFF7EE")
      end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <%= render partial: Current.user ? "logged_in_nav" : "logged_out_nav" %>
    <div data-controller="dark-light-toggle" class="d-flex align-items-center">
      <button data-action="dark-light-toggle#toggle" class="text-secondary btn btn-outline-primary btn-sm ms-2 show-when-light">
        <span data-dark-light-toggle-target="icon" class="bi bi-moon-stars-fill"></span>
      </button>
      <button data-action="dark-light-toggle#toggle" class="text-secondary btn btn-outline-primary btn-sm ms-2 show-when-dark">
        <span data-dark-light-toggle-target="icon" class="bi bi-sun-fill"></span>
      </button>
    </div>
  </div>
</nav>
