<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <div>
      <%= link_to(root_path, class: "navbar-brand") do
        image_tag("oho-navbar.png")
      end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <%= render partial: Current.user ? "logged_in_nav" : "logged_out_nav" %>
  </div>
</nav>
