<ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-4" data-turbo-prefetch="false">
  <li class="nav-item me-3">
    <%= maybe_link("Home", root_path) %>
  </li>

  <li class="nav-item me-3">
    <%= link_to("Royalties", royalties_root_path, class: "nav-link")  %>
  </li>

  <li class="nav-item me-3">
    <%= link_to("Authors/Editors", creators_root_path, class: "nav-link") %>
  </li>

</ul>

